* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
            to top, #050505, #363635);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.board {
    height: 85vh;
    width: 80vw;
    background-image: linear-gradient(
            to right, #0d0d0e, #181818);
    border-radius: 14px;
}
  
.ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}
  
.ballEffect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    box-shadow: inset 0 0 18px #fff, 
        inset 6px 0 18px rgb(209, 206, 209), 
        inset -6px 0 18px rgb(113, 114, 114), 
        inset 6px 0 30px rgb(194, 192, 194), 
        inset -6px 0 30px rgb(177, 179, 179), 
        0 0 18px #fff, -4px 0 18px 
        rgb(51, 50, 51), 4px 0 18px rgb(54, 54, 54);
}
  

  
.paddle {
    height: 80px;
    width: 15px;
    position: fixed;
}
  
.firstPaddle {
    top: calc(7.5vh + 55px);
    left: calc(10vw + 30px);
    background-color: white;
}
  
.secondPaddle {
    top: calc(85vh + 7.5vh - 100px - 55px);
    right: calc(10vw + 30px);
    background-color: white;
}
  
.playerOneScore {
    height: 50px;
    width: 50px;
    color: chartreuse;
    position: fixed;
    left: 30vw;
    margin-top: 30px;
}
  
.playerTwoScore {
    height: 50px;
    width: 50px;
    color: chartreuse;
    position: fixed;
    left: 70vw;
    margin-top: 30px;
}
  
.message {
    position: fixed;
    /* color: #48426d; */
    height: 10vh;
    width: 100vh;
    color: #c9cbff;
    text-align: center;
    top: -20px;
    margin: 30px auto auto auto;
}

.dottedLine {
    border: 10px dashed #fffdfd; 
    border-style: none none dashed;
    opacity: 90%;
    transform: rotate(90deg);
    color: #fff; 
    
    
}